//media queries

//title  y container
@media(min-width:1280px){
    .title{
        font-size: 48px;
        &.main{
            font-size: 64px;
        }
    }
}
//margenes y flex de container, imagenes
@media(min-width:1280px){
    .container{
        display: flex;
        margin: 0 200px;
    }
    .frame{
        display: flex;
        align-items: center;
        width: 584px;
        height: 232px;
    }
}
.container:first-child{
    flex-direction: column;
}