* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  z-index: 1;
}

.background {
  position: absolute;
  content: " ";
  top: 390px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  z-index: -1;
  transform: skewY(-5deg);
  transform-origin: top right;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.background.second {
  top: 4950px;
  height: 385px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.A-box {
  margin: 0 9px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0;
}
.title.secondary-tit {
  color: #ffffff;
  margin-top: 70px;
}
.title.secondary-tit h4 {
  font-weight: 500;
  text-align: center;
}
.title.third-tit {
  margin-top: 54px;
  margin-bottom: 14px;
}
.title.fourth-tit {
  margin-top: 30px;
  margin-bottom: 37px;
}
.title.small {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 17px 0 34px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 258px;
  height: 48px;
  background-color: #00F3BB;
  margin: 36px 0 72px 0;
}
.links a {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 15px 25px;
}

.links:hover {
  background-image: linear-gradient(225deg, #0000FF 0%, #00F3BB 100%);
}
.links:hover a {
  font-family: "IBM Plex Mono", monospace;
  color: #ffffff;
}

.container-img {
  margin: 11px 11px;
}
.container-img.img-2 {
  margin: 0;
}

.container-left, .container-right {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1540px;
  max-height: 1000px;
}

.paragraph {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 16px;
  margin-right: 11px;
}

.frame {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-width: 600px;
  min-height: 235px;
  max-height: 240px;
}

.box {
  width: 100%;
  height: 100%;
  max-width: 300px;
  min-width: 150px;
  max-height: 200px;
  min-height: 150px;
}

.phone {
  width: 300px;
  height: 520px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.image {
  display: flex;
  width: 320px;
  max-width: 510px;
  max-height: 364px;
  height: 243px;
}
.image.border {
  width: 104px;
  height: 104px;
  margin: 0 108px;
}

.container-right .image:nth-last-child(1) {
  margin-bottom: 48px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 121px;
  background-color: #ffffff;
  padding-top: 24px;
}

.footer {
  text-align: center;
}
.footer i {
  margin: 16px 19px 0 23px;
}

@media (min-width: 320px) {
  .sect-4 .container-img .image {
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 950px;
    min-height: 240px;
    max-height: 620px;
  }

  .links {
    margin-top: 56px;
  }
  .links.sec-link {
    align-self: center;
  }
}
@media (min-width: 330px) {
  .background.second {
    transform: skewY(-3deg);
    top: 5050px;
    height: 380px;
  }
}
@media (min-width: 350px) {
  .img-3 {
    margin-left: 25px;
  }

  .phone {
    margin-left: 20px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5150px;
    height: 380px;
  }
}
@media (min-width: 350px) and (min-width: 370px) {
  .img-3 {
    margin-left: 30px;
  }

  .phone {
    margin-left: 25px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5250px;
    height: 380px;
  }
}
@media (min-width: 390px) {
  .img-3 {
    margin-left: 35px;
  }

  .phone {
    margin-left: 30px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5300px;
    height: 380px;
  }
}
@media (min-width: 410px) {
  .img-3 {
    margin-left: 40px;
  }

  .phone {
    margin-left: 35px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5400px;
    height: 380px;
  }
}
@media (min-width: 440px) {
  .img-3 {
    margin-left: 45px;
  }

  .phone {
    margin-left: 40px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5490px;
    height: 380px;
  }
}
@media (min-width: 460px) {
  .img-3 {
    margin-left: 50px;
  }

  .phone {
    margin-left: 45px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5590px;
    height: 380px;
  }
}
@media (min-width: 470px) {
  .img-3 {
    margin-left: 55px;
  }

  .phone {
    margin-left: 50px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5600px;
    height: 380px;
  }
}
@media (min-width: 490px) {
  .img-3 {
    margin-left: 60px;
  }

  .phone {
    margin-left: 55px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5680px;
    height: 380px;
  }
}
@media (min-width: 500px) {
  .img-3 {
    margin-left: 70px;
  }

  .phone {
    margin-left: 60px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5700px;
    height: 380px;
  }
}
@media (min-width: 510px) {
  .img-3 {
    margin-left: 75px;
  }

  .phone {
    margin-left: 65px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5720px;
    height: 380px;
  }
}
@media (min-width: 530px) {
  .img-3 {
    margin-left: 80px;
  }

  .phone {
    margin-left: 70px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5800px;
    height: 380px;
  }
}
@media (min-width: 540px) {
  .img-3 {
    margin-left: 90px;
  }

  .phone {
    margin-left: 75px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5875px;
    height: 380px;
  }
}
@media (min-width: 560px) {
  .img-3 {
    margin-left: 140px;
  }

  .phone {
    margin-left: 80px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 5950px;
    height: 380px;
  }
}
@media (min-width: 570px) {
  .img-3 {
    margin-left: 150px;
  }

  .phone {
    margin-left: 85px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6000px;
    height: 380px;
  }
}
@media (min-width: 590px) {
  .img-3 {
    margin-left: 160px;
  }

  .phone {
    margin-left: 90px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6050px;
    height: 380px;
  }
}
@media (min-width: 600px) {
  .img-3 {
    margin-left: 170px;
  }

  .phone {
    margin-left: 95px;
  }

  .sect-2 {
    margin-left: 11px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6150px;
    height: 380px;
  }
}
@media (min-width: 610px) {
  .img-3 {
    margin-left: 180px;
  }

  .phone {
    margin-left: 100px;
  }

  .sect-2 {
    margin-left: 20px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6200px;
    height: 380px;
  }
}
@media (min-width: 630px) {
  .img-3 {
    margin-left: 190px;
  }

  .phone {
    margin-left: 105px;
  }

  .sect-2 {
    margin-left: 25px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6300px;
    height: 380px;
  }
}
@media (min-width: 650px) {
  .img-3 {
    margin-left: 200px;
  }

  .phone {
    margin-left: 110px;
  }

  .sect-2 {
    margin-left: 30px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6350px;
    height: 380px;
  }
}
@media (min-width: 670px) {
  .img-3 {
    margin-left: 210px;
  }

  .phone {
    margin-left: 115px;
  }

  .sect-2 {
    margin-left: 35px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6500px;
    height: 380px;
  }
}
@media (min-width: 690px) {
  .img-3 {
    margin-left: 220px;
  }

  .phone {
    margin-left: 120px;
  }

  .sect-2 {
    margin-left: 40px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6550px;
    height: 380px;
  }
}
@media (min-width: 710px) {
  .img-3 {
    margin-left: 230px;
  }

  .phone {
    margin-left: 125px;
  }

  .sect-2 {
    margin-left: 45px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6650px;
    height: 380px;
  }
}
@media (min-width: 730px) {
  .sect-2 {
    margin-left: 50px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6700px;
    height: 380px;
  }
}
@media (min-width: 750px) {
  .sect-2 {
    margin-left: 55px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6800px;
    height: 380px;
  }
}
@media (min-width: 770px) {
  .sect-2 {
    margin-left: 60px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6875px;
    height: 380px;
  }
}
@media (min-width: 780px) {
  .sect-2 {
    margin-left: 65px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 6950px;
    height: 380px;
  }
}
@media (min-width: 790px) {
  .sect-2 {
    margin-left: 70px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 7050px;
    height: 380px;
  }
}
@media (min-width: 810px) {
  .sect-2 {
    margin-left: 80px;
  }

  .background {
    height: 1200px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 7100px;
    height: 380px;
  }
}
@media (min-width: 830px) {
  .img-3 {
    margin-left: 250px;
  }

  .phone {
    margin-left: 135px;
  }

  .sect-2 {
    margin-left: 85px;
  }
}
@media (min-width: 850px) {
  .img-3 {
    margin-left: 260px;
  }

  .phone {
    margin-left: 140px;
  }

  .sect-2 {
    margin-left: 90px;
  }
}
@media (min-width: 870px) {
  .img-3 {
    margin-left: 270px;
  }

  .phone {
    margin-left: 145px;
  }

  .sect-2 {
    margin-left: 95px;
  }
}
@media (min-width: 880px) {
  .sect-2 {
    margin-left: 100px;
  }

  .title.secondary-tit {
    color: #ffffff;
    margin-top: 90px;
  }
}
@media (min-width: 950px) {
  .img-3 {
    margin-left: 0;
  }

  .phone {
    margin-left: 0;
  }

  .sect-2 {
    margin-left: 0;
    margin-top: 0;
  }

  .title {
    flex-direction: row;
    font-size: 48px;
  }
  .title.main {
    font-size: 64px;
  }
  .title.secondary-tit {
    margin-top: 200px;
    margin-left: 75px;
  }
  .title.secondary-tit.last-tit {
    margin-top: 150px;
    align-self: center;
  }
  .title.small {
    margin: 17px 20px;
  }

  p .small {
    text-align: center;
  }

  br {
    display: none;
  }

  .links {
    margin-top: 56px;
  }
  .links.sec-link {
    align-self: center;
  }
}
@media (min-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }

  .sect-3 {
    margin-top: 50px;
  }

  .phone {
    width: 457.6px;
    height: 660px;
  }

  .container-img {
    display: flex;
    justify-content: center;
    margin: 26px 100px;
  }
  .container-img.cont-main {
    padding: 0 70px;
  }
  .container-img.img-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: 728px;
  }
  .container-img .container-img .img-3 {
    margin: 0 200px;
  }
  .container-img .image {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .container-img .image.border {
    margin: 0 0 0 30px;
    width: 104px;
    height: 104px;
  }

  .sect-4 {
    margin-bottom: 64px;
  }

  .sect-4 .cont-sec-L, .cont-sec-R {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 364px;
  }

  .img-3 {
    margin-bottom: 40px;
  }

  .box {
    width: 300px;
    height: 200px;
  }

  .box .small:nth-last-child(1) {
    margin: 17px 0 0 0;
  }

  .sect-6 {
    margin-top: 100px;
  }

  .sect-6 .container {
    margin: 0;
  }

  .sect-6 .secondary-tit {
    margin-left: 0;
  }

  footer {
    margin-top: 30px;
  }

  .A-box {
    align-self: center;
    height: 350px;
    width: 464px;
  }

  .frame {
    margin-bottom: 72px;
    width: 350px;
    height: 232px;
  }

  .container:first-child {
    flex-direction: column;
  }
}
@media (min-width: 950px) {
  .background {
    height: 1000px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 3350px;
    height: 518px;
  }

  .footer {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    padding-top: 25px;
  }
  .footer .cont-four {
    padding-right: 50px;
  }
  .footer .cont-four:last-child {
    padding-left: 50px;
    padding-right: 0;
  }
}
@media (min-width: 1150px) {
  .frame {
    margin-left: 30px;
    margin-bottom: 72px;
    width: 450px;
    height: 232px;
  }

  .title {
    flex-direction: row;
    font-size: 48px;
  }
  .title.secondary-tit {
    margin-top: 200px;
    margin-left: 120px;
  }
  .title.last-tit {
    margin-left: 0;
  }
}
@media (min-width: 1250px) {
  .title {
    flex-direction: row;
    font-size: 48px;
  }
  .title.secondary-tit {
    margin-top: 200px;
    margin-left: 120px;
  }
  .title.secondary-tit.last-tit {
    margin-left: 0;
    margin-top: 150px;
  }
}
@media (min-width: 1350px) {
  .title {
    flex-direction: row;
    font-size: 48px;
  }
  .title.secondary-tit {
    margin-top: 200px;
    margin-left: 120px;
  }
  .title.secondary-tit.last-tit {
    margin-left: 0;
    margin-top: 150px;
  }
}
@media (min-width: 1440px) {
  .title {
    flex-direction: row;
    font-size: 48px;
  }
  .title.main {
    font-size: 64px;
  }
  .title.secondary-tit {
    margin-top: 200px;
    margin-left: 0;
  }
  .title.secondary-tit.last-tit {
    margin-top: 150px;
  }
  .title.secondary-tit.small {
    margin: 17px 20px;
  }

  p .small {
    text-align: center;
  }

  br {
    display: none;
  }

  .links {
    margin-top: 56px;
  }
  .links.sec-link {
    align-self: center;
  }
}
@media (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
  }

  .sect-3 {
    margin-top: 50px;
  }

  .phone {
    width: 457.6px;
    height: 660px;
  }

  .container-img {
    display: flex;
    justify-content: center;
    margin: 26px 100px;
  }
  .container-img.cont-main {
    padding: 0 72px;
  }
  .container-img.img-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    height: 728px;
  }
  .container-img .container-img .img-3 {
    margin: 0 200px;
  }
  .container-img .image {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .container-img .image.border {
    margin: 0 0 0 90px;
    width: 104px;
    height: 104px;
  }

  .sect-3 .container-img .container-left {
    width: 457.6px;
    margin-right: 62px;
  }

  .sect-3 {
    margin: 0 200px;
  }

  .sect-4 {
    margin-bottom: 64px;
  }

  .sect-4 .cont-sec-L, .cont-sec-R {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 364px;
  }

  .sect-5 {
    margin-bottom: 40px;
  }

  .box {
    width: 300px;
    height: 200px;
  }

  .box .small:nth-last-child(1) {
    margin: 17px 0 0 50px;
  }

  .sect-6 {
    margin-top: 100px;
  }

  footer {
    margin-top: 30px;
  }

  .A-box {
    align-self: center;
    height: 350px;
    width: 464px;
  }

  .frame {
    margin-bottom: 72px;
    width: 584px;
    height: 232px;
  }

  .container:first-child {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .background {
    height: 1000px;
  }
  .background.second {
    transform: skewY(-3deg);
    top: 3325px;
    height: 518px;
  }

  .footer {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    padding-top: 25px;
  }
  .footer .cont-four {
    padding-right: 300px;
  }
  .footer .cont-four:last-child {
    padding-left: 300px;
    padding-right: 0;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px 0 16px;
  background: white;
  color: black;
  position: sticky;
  top: 0;
  margin-bottom: 29px;
}

.logo {
  height: 24px;
  width: 24px;
}

.menu-check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-check:checked ~ label .hamburguesa {
  display: none;
}

.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu {
  display: block;
}

.closed,
.menu {
  display: none;
}

.menu {
  position: absolute;
  top: 44px;
  left: 0;
  background: #0000EC;
  width: 100%;
}

.menu div a {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 16px 0 24px 16px;
}

.menu div a:hover {
  text-decoration: line-through;
  color: #00F3BB;
  transition: 0.2s ease-in-out;
}

.menu div a:active {
  text-decoration: line-through;
  color: rgba(6, 10, 36, 0.56);
  transition: 0.2s ease-in-out;
}

@media (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px 0 100px;
    background: #fff;
    color: black;
    position: sticky;
    top: 0;
  }

  .hamburguesa, .menu-check:checked {
    display: none;
  }

  .logo {
    height: 36px;
    width: 36px;
  }

  .menu {
    display: inline-flex;
    position: relative;
    top: -5px;
    left: auto;
    background: transparent;
    width: 100%;
  }

  .menu div a {
    display: inline-block;
    color: #060A24;
    text-decoration: none;
    padding: 16px;
  }
}

/*# sourceMappingURL=index.css.map */
